<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Stock Exchange</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <header>{% include 'navbar.html' %}</header>

    <main>{% block content %}{% endblock content %}</main>

    <footer>
      <p>&copy; Stock Exchange. All rights reserved.</p>
    </footer>
  </body>
</html>
