<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(function () {
    $("#search").autocomplete({
      source: "{% url 'search_autocomplete' %}",
      select: function (event, ui) {
        var selectedOption = ui.item.label;
        var searchUrl =
          "{% url 'searched' %}" +
          "?search=" +
          selectedOption;
        window.location.href = searchUrl;
      },
    });
  });
</script>
{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href={% url 'home' %} class="navbar-brand">
            <img src="{% static 'img/favicon.ico' %}"
                 alt="logo"
                 width="30"
                 height="24"
                 class="d-inline-block align-text-top" />
            TradeNet
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'home' %}>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fundamental Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Technical Analysis</a>
                </li>
            </ul>
            <form class="d-flex"
                  role="search"
                  id="search-form"
                  action="{% url 'searched' %}"
                  method="get">
                <input class="form-control me-2" aria-label="Search" type="search" name="search" id="search" placeholder="Search..." / required>
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
