{% extends 'base.html' %} {% block content %} {% if stock %}
<h1>STOCK</h1>
<h2>You Searched for {{stock}}</h2>

<!-- Render the Plotly chart here -->
<div id="plotly_chart" chartToShow="daily"></div>

<!-- Load the daily candlestick chart data -->
<script>
  var dailyCandlestickData = {{ candlestick_data|safe }};
  Plotly.newPlot('plotly_chart', dailyCandlestickData.data, dailyCandlestickData.layout);
</script>

{% elif option %}
<h1>OPTION</h1>
<h2>You Searched for {{option}}</h2>

{% else %}
<h1>Invalid Search</h1>
{% endif %} {% endblock content %}
