<h1>Sectors</h1>
<div class="d-flex justify-content-around">
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Sector</th>
                <th scope="col">Market Weight</th>
                <th scope="col">Market Cap</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td>
                    <a href={% url "sectors" %}>All Sectors</a>
                </td>
                <td>100.0%</td>
                <td>--</td>
            </tr>
            {% for sector in sectors %}
                <tr class="table-light">
                    <td>
                        <a href={% url "sector" sector.key %}>{{ sector.name }}</a>
                    </td>
                    <td>{{ sector.market_weight }}</td>
                    <td>{{ sector.market_cap }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container border">
        <h3 class="text-center mb-4 mt-5">Market Sector Weights</h3>
        <div id="treemap"></div>
    </div>
</div>
<script>
    const labels = {{ labels|safe }};
    const values = {{ values|safe }};
    const urls = {{ urls|safe }};
    
    const data = [{
        type: "treemap",
        labels: labels,
        parents: labels.map(() => " "),
        values: values,
        customdata: urls,
        textinfo: "label+percent entry",
    }];

    const layout = {
        margin: { t: 0, l: 10, r: 10, b: 10 }
    };

    Plotly.newPlot('treemap', data, layout,{
    responsive: true
});

    document.getElementById('treemap')
        .on('plotly_click', function(data) {
            const url = data.points[0].customdata;

            if (url) {
                window.location.href = url;
            }
});
</script>
