{% extends "base.html" %}
{% load my_filters %}
{% block content %}
    <h1>{{ sector.name }}</h1>
    <p>{{ sector.overview.description }}</p>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Market Cap</th>
                <th scope="col">Market Weight</th>
                <th scope="col">Industries</th>
                <th scope="col">Companies</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td>{{ sector.overview.market_cap|humanize }}</td>
                <td>{{ sector.overview.market_weight|format_percentage }}</td>
                <td>{{ sector.overview.industries_count }}</td>
                <td>{{ sector.overview.companies_count }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Industry</th>
                <th scope="col">Market Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for industry in sector.industries %}
                <tr class="table-light">
                    <td>
                        <a href="{% url 'industry' sector.key industry.key %}">{{ industry.name }}</a>
                    </td>
                    <td>{{ industry|get_item:"market weight"|format_percentage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Top Companies</h1>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Ticker</th>
                <th scope="col">Company</th>
                <th scope="col">Price</th>
                <th scope="col">Change</th>
                <th scope="col">Volume</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for company in sector.top_companies %}
                <tr class="table-light">
                    <td>
                        <a href="{% url 'searched' %}?search={{ company.ticker }}">{{ company.ticker }}</a>
                    </td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.price }}</td>
                    {% if company.change.0 == '-' %}
                        <td class="text-danger">{{ company.change }}</td>
                    {% else %}
                        <td class="text-success">{{ company.change }}</td>
                    {% endif %}
                    <td>{{ company.volume }}</td>
                    <td>{{ company.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
